body {
    font-family: 'Arial', sans-serif;
    background: linear-gradient(to bottom, #87CEEB, #FFFFFF);
    margin: 0;
    padding: 0;
}

.header {
    background-color: #FFFFFF;
    padding: 20px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.content {
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
}

.profile {
    flex: 1 1 300px;
    padding: 20px;
    text-align: center;
}

.profile img {
    border-radius: 50%; /* если нужно круглое фото*/
    max-width: 150px;
    height: auto;
    display: block;
    margin: 0 auto; /* центрирование*/
}

.about, .contacts {
    flex: 1 1 300px;
    padding: 20px;
}

h1, h2 {
    color: #333;
    font-weight: bold;
    margin-bottom: 10px;
}

p {
    color: #666;
    line-height: 1.6;
}

@media (max-width: 768px) {
    .content {
        flex-direction: column;
    }
}
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}

.main-background {
    background-image: url('image/background_1440.jpg');
    height: 100vh;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    
    /* Для контраста текста */
    color: white;
}